services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - .:/var/www
    develop:
      watch:
        - action: sync
          path: .
          target: /var/www
          ignore:
            - vendor/
            - node_modules/
        - action: rebuild
          path: composer.json

  nginx:
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    develop:
      watch:
        - action: sync+restart
          path: docker/nginx/default.conf
          target: /etc/nginx/conf.d/default.conf
